.header {
    padding: 30px 0;
    color: whitesmoke;
    background-color: green;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid whitesmoke;
    margin-bottom: 10px;
    font-family: serif;
}